* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  background-color: hsl(210deg 15% 6%);
  color: hsl(210deg 10% 90%);
}

#root {
  height: 100%;
}
